.films-list {
    background: $color-2;
    height: 2000px;
    text-align: center;
    margin-top: -70px;
    .div-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-gap: 1rem;
        width: 90%;
        left: 10%;
        position: absolute;
        margin-top: -100px;
       }


}
