.films-cards {
  margin-bottom: 50px;
  img {
    width: 240px;
    height: 360px;
    border-radius: 5px;
  }
  &:hover {
    transform: scale(1.05);
    transition: 0.1s ease;
  }
  h4 {
    color: white;
    font-family: $font-2;
  }
}
