@font-face {
    font-family: 'Bebas';
    src: url('../../public/assets/fonts/Bebas/Bebas-Regular.otf');
    src: url('../../public/assets/fonts/Bebas/Bebas-Regular.ttf');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 600;
    font-style: normal;
  }