footer {
  .footer-start {
    width: 100%;
    background-color: #212529;
    height: 100px;
    float: left;

    .ul-footer-start {
      float: left;
      margin-top: 38px;
      margin-left: 4%;
      li {
        display: inline-block;
        margin-right: 10px;
        a {
          color: white;
          font-family: $font-2;
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid white;
          }
        }
      }
    }
    button {
      position: absolute;
      right: 0;
      margin-top: 33px;
      margin-right: 70px;
      background: transparent;
      border: none;
      img {
        height: 45px;
        width: 45px;
      }
    }
    .footer-div-crypto {
      width: 540px;
      border-radius: 50px;
      background-color: #2e2e2e;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 60px;
      margin-top: 21px;
      img {
        width: 50px;
        border: 2px solid black;
        border-radius: 50%;
        float: left;
        margin-left: 4%;
        margin-top: 5px;
      }
      li {
        color: white;
        margin-top: 18px;
        margin-left: 3%;
        font-family: $font-2;
        float: left;
      }
    }
  }

  .footer-end {
    height: 70px;
    width: 100%;
    background: #1d2124;
    float: left;
    h5 {
      color: white;
      float: left;
      margin-top: 33px;
      margin-left: 7%;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    }
    .p-header-end {
      float: right;
      padding-top: 11px;
      padding-right: 140px;
      span {
        font-size: 35px;
        color: #4e4e4e;
        margin: 7px;
      }
    }
  }
}
