
.header {
  position: static;
  background-color: transparent;
  .logo {
    height: 80px;
    width: 150px;
    float: left;
    margin-left: 2%;
  }
  .nav {
    margin: auto;
    padding-top: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 11%;
    float: left;
    gap: 5%;
    width: 25%;
    img {
      height: 21px;
      width: 21px;
      margin-right: 8px;
    }
    a {
      font-size: 30px;
      color: #e50914;
      cursor: pointer;
      text-decoration: none;
      margin-left: 25px;
      padding: 5px;
      font-family: $font-1;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  button {
    padding: 10px;
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    float: right;
    margin-top: 27.5px;
    margin-right: 5%;
    cursor: pointer;
    font-family: "Roboto";
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    border: none;
  }
  .nav-active {
    position: relative;
    border-bottom: 2px solid red;

    &::after {
      content: "";
      height: 4px;
      width: 0;
      background: $color-1;
      position: absolute;
      border-radius: 10px;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-animation: anim 0.3s ease forwards;
      animation: anim 0.6s ease forwards;

      @-webkit-keyframes anim {
        to {
          width: 100%;
        }
      }
      @keyframes anim {
        to {
          width: 100%;
        }
      }
    }
  }
}




.main-header {
  position: static;
  background-color: transparent;
  .logo {
    height: 100px;
    width: 200px;
    float: left;
  }
  .nav {
    margin: auto;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 14%;
    float: left;
    gap: 5%;
    width: 30%;
    a {
      text-decoration: none;
      padding: 10px;
      color: $color-1;
      font-size: 35px;
      transition: 0.2s;
      cursor: pointer;
      text-decoration: none;
      font-family: $font-1;

      &:hover {
      text-decoration: underline;
      }
      img {
        height: 30px;
        width: 30px;
        margin-right: 8px;
      }
    }
  }
  button {
    padding: 10px;
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    float: right;
    margin-top: 27.5px;
    margin-right: 5%;
    cursor: pointer;
    font-family: "Roboto";
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    border: none;
  }

  .nav-active {
    position: relative;

    &::after {
      content: "";
      height: 4px;
      width: 0;
      background: $color-1;
      position: absolute;
      border-radius: 10px;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-animation: anim 0.3s ease forwards;
      animation: anim 0.6s ease forwards;

      @-webkit-keyframes anim {
        to {
          width: 100%;
        }
      }
      @keyframes anim {
        to {
          width: 100%;
        }
      }
    }
  }
}
