$font-1: "Bebas";
$font-2 : system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
"Helvetica Neue", sans-serif;

$color-1: #e50914;
$color-1-sombre : #a0060e;
$color-2: #1a1a1a;
$color-3: #1d2124;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: $font-2;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}

textarea {
  resize: none;
}
